[Unit]
Description=WoL forwarding service
After=network-online.target

[Service]
Type=idle
Restart=always
RestartSec=5
ExecStart=/usr/bin/env python3 -u /usr/local/bin/wol-forward.py

[Install]
WantedBy=multi-user.target
